input {
    border: none;
    border-bottom: 0.3px solid rgba(71, 71, 71, 0.438);
    min-width: 24rem;
    height: 3rem;

    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }
    outline: none;
}

::placeholder {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}