$grid-width: 1000px;
$primary-color: white;
$secondary-color: #071629;

$small-padding: 0.6rem;
$medium-padding: 1.2rem;
$big-padding: 2rem;

$small-margin: 1rem;
$medium-margin: 1.5rem;
$big-margin: 2.5rem;